<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Brew Timer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/dashboard.css">
        <link rel="stylesheet" href="css/main.css">

        <script type="text/javascript" src="js/vendor/modernizr.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body ng-app="brewapp" ng-controller="MainCtrl">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              
              <a class="navbar-brand" href="#">Brew Timers</a>
            </div>
            <!-- Main -->
            <div class="navbar-collapse collapse" >
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="btn" ng-click="addTimer(this)"><i class="glyphicon glyphicon-plus"></i></a></li>
                <li ng-hide="user">
                    <a href="#" class="btn" ng-click="login()">Login</a>
                </li>
                <li ng-show="user" class="user-photo">
                    <img ng-src="{{user.photo}}"/>
                </li>
                <li ng-show="user">
                    <a href="#" class="btn" ng-click="logout()">Logout</a>
                </li>
              </ul>
              <form class="navbar-form navbar-right" ng-submit="addTimer($event)">
                <input type="text" class="form-control" placeholder="Timer Name..." ng-model="timerName" required="true">
              </form>
            </div>
          </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!-- SideBar -->
                <div class="col-sm-3 col-md-2 sidebar" >
                  <ul class="nav nav-sidebar" ng-repeat="(key,timer) in pubtimers">
                    <li>
                        <a href="#">{{timer.tname}}</a> {{getDateDiff(timer.ts)}} <i>by <a href="{{timer.userId}}">{{timer.userName}}</a></i>
                    </li>
                  </ul>
                </div>

                <!-- Grid -->
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
                  <h1 class="page-header"><span ng-show="user">{{user.name}}'s</span> Dashboard</h1>

                  <div class="row placeholders" >

                    <div class="col-xs-6 col-sm-4 placeholder" ng-repeat="(key,timer) in timers">
                        <div class="timer" style="background: hsl({{timer.hsl}}, 20%, 50%);">
                          <div class="remove" ng-show="user"><a href="#" ng-click="removeTimer(key,$event)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></a></div>
                          <div class="inner">
                                <div class="time">
                                    <span class="min number lg">{{getMin(timer)}}</span>
                                    <span class="number colon">:</span>
                                    <span class="sec number sm">{{getSec(timer)}}</span>
                                    <a href="#" ng-click="startTimer(key,timer,$event)" ><i class="glyphicon glyphicon-play ctrl"></i></a>
                                </div>
                                <a href="#" class="addOne pull-left ctrl-sub" ng-click="subMin(key,timer,$event)"><i class="glyphicon glyphicon-minus"></i><span class="number">1</span></a>
                                <a href="#" class="subOne pull-right ctrl-sub" ng-click="addMin(key,timer,$event)"><i class="glyphicon glyphicon-plus"></i><span class="number">1</span></a>
                            </div>
                          <h4>{{timer.tname}}</h4>
                          <span class="text-muted">{{getDateDiff(timer.ts)}}</span>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
 
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
        <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
        <script type="text/javascript" src="https://cdn.firebase.com/js/simple-login/1.2.3/firebase-simple-login.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

    </body>
</html>